#header{
    display: flex;
    justify-content: space-between;
    
    #logo{
        display: block;
        color: white;
        flex-basis: 1;
        align-self: center;     
        font-size: 1.3rem;
        
    }
    ul{
        list-style: none;
        li{
            display: inline-block;
            a{
                display: inline-block;
                text-decoration: none;
                color: white;
                padding: 20px 4px;
                margin-left: 10px;
            }
        }
    }
}